.header {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  background-color: #1b1e21;
  border-radius: 0 0 20px 20px;

  .nav {
    display: flex;
    justify-content: center;

    padding: 25px 0;

    &__link {
      margin: 0 60px;

      cursor: pointer;

      &:first-child {
        .test {
          fill: #299ded;
        }
      }
    }
  }
}
