.list-movies {
  margin-top: 16px;

  &__header {
    display: flex;
    justify-content: space-between;

    .tag-movie {
      padding: 7px 50px;

      background-color: #303539;
      color: #299ded;
      font-size: 25px;

      border-radius: 50px;
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 29px;

    .card-movie {
      position: relative;

      margin: 30px 0;

      border: 3px solid transparent;
      cursor: pointer;
      transition: border 0.4s ease-in-out;

      &:hover {
        img {
          filter: blur(4px);
        }

        .card-movie__info {
          opacity: 1;
        }

        .card-movie__additional-info {
          opacity: 1;
        }

        .card-movie__inner {
          border: 3px solid #299ded;
        }
      }

      &__inner {
        border: 3px solid transparent;
        transition: border 0.4s ease-in-out;
      }

      img {
        width: 253px;
        height: 368px;

        transition: filter 0.4s ease-in-out;
      }

      &__info {
        position: absolute;
        top: 43%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: flex;
        flex-direction: column;
        justify-content: center;

        opacity: 0;

        transition: opacity 0.4s ease-in-out;

        &-raiting {
          display: flex;
          flex-direction: column;
          margin-bottom: 10px;
          line-height: 1.6;

          .star-icon {
            align-self: center;
          }

          span {
            text-align: center;

            font-size: 25px;
            color: #fff;
          }
        }

        &-genre {
          margin: 31px 0 40px;
          text-align: center;

          font-size: 30px;
          color: #fff;
          line-height: 1.6;
        }

        &-button {
          padding: 8px 0;
          width: 160px;
          text-decoration: none;
          text-align: center;

          font-size: 25px;
          font-weight: bold;
          color: #303539;
          background-color: #299ded;
          border: none;
          border-radius: 5px;

          transition: background-color 0.4s ease-in-out,
            color 0.4s ease-in-out;

          &:hover {
            background-color: #303539;
            color: #299ded;
          }
        }
      }

      &__additional-info {
        margin-top: 5px;
        line-height: 1.6;

        opacity: 0;
        transition: opacity 0.4s ease-in-out;

        .title {
          width: 200px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #fff;
        }

        .year {
          color: #9ca1a4;
        }
      }
    }
  }

  &__footer {
    nav {
      .pagination {
        display: flex;
        justify-content: space-between;
        width: 500px;
        margin: 0 auto;

        .page-item {
          button {
            padding: 10px 15px;

            color: #606365;
            background-color: #303539;

            border: none;
            border-radius: 5px;
          }
        }
      }
    }
  }
}
